{% extends "news/base.html" %} {% block title %} Kinh doanh {% endblock title %} 
{% block content %}
<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="font-weight-600 mb-4">Kinh doanh</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              {% for new in ordernews %}

              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img src="{{new.picture}}" alt="banner" class="img-fluid" />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <a style="color: #3a3a3a; " href="{% url 'detail' new.id %}" class=""
                    ><h2 class="font-weight-600 mb-2">{{new.title}}</h2>
                  </a>

                  <p class="fs-15">{{new.description}}</p>
                </div>
              </div>
               {% endfor %}
            </div>
            <div class="col-lg-4">
              <h2 class="mb-4 text-primary font-weight-600">Tin nóng</h2>
              {% for item in breaking %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="border-bottom pb-4 pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <a
                          style="color: #3a3a3a"
                          href="{% url 'detail' item.id %}"
                          class=""
                          ><h5 class="font-weight-600 mb-1">{{item.title}}</h5>
                        </a>

                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Ảnh </span>
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <div class="rotate-img">
                          <img
                            src="{{item.picture}}"
                            alt="banner"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="trending">
                <h2 class="mb-4 text-primary font-weight-600">Xu hướng</h2>
                {% for item in trending %}
                <div class="mb-4">
                  <div class="rotate-img">
                    <img
                      src="{{item.picture}}"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                  <a
                    style="color: #3a3a3a"
                    href="{% url 'detail' item.id %}"
                    class=""
                    ><h3 class="mt-3 font-weight-600">{{item.title}}</h3>
                  </a>

                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Ảnh</span>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
